<!DOCTYPE html>
<html>
{% include head.html %}

<body>

    <nav id="menu" class="menu">
      <header>
        <section class="menu-section">
          <h3 class="menu-section-title">Menu</h3>
          <ul class="menu-section-list">
              <li><a class="page-link" href="{{site.github.url}}/">About</a>
             <li><a class="page-link" href="{{site.github.url}}/research">Research</a></li>
              <li><a class="page-link" href="{{site.github.url}}/talks"> Talks </a></li>
              <li><a class="page-link" href="https://drive.google.com/file/d/1_yPtUALAZybOrffP3oOHyVcIAjYy_80a/view?usp=share_link"> CV </a></li>
          </ul>
        </section>
      </header>
    </nav>


    <main id="panel">
      <div class="page-content">
        <div class="wrapper container">
          <header>
            <nav class="site-header">
              <div class="row">
                <div class="menu-toggle"><button class="toggle-button"><i class="icon fa fa-bars"></i></button></div>

                <div class="site-title"><a href="/">Rishabh Agarwal</a></div>

              </div>
              <div class="desktop-menu">
                <ul>
                    <li><a href="{{site.github.url}}/"> About </a></li>
                    <li><a href="{{site.github.url}}/research"> Research</a></li>
                    <li><a href="{{site.github.url}}/talks"> Talks </a></li>
                    <li><a href="https://drive.google.com/file/d/1_yPtUALAZybOrffP3oOHyVcIAjYy_80a/view?usp=share_link"> CV </a></li>
                </ul>
              </div>
            </nav>
          </header>


          {{content}}

        </div>

      </div>

      <div class="invisible-divider"></div>
      <footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="force seven columns">
        <ul class="contact-list">
          <li class="social-links">
            <a href="https://twitter.com/agarwl_" target="_blank">
              <i class="fa fa-twitter fa-10x" style="color:#00ACEE"></i> agarwl_
            </a>
            <a href="https://github.com/agarwl/" style="color:#211F1F" target="_blank">
                <i class="fa fa-github fa-10x" style="color:#211F1F"> </i> agarwl
            </a>
            <a href="https://www.linkedin.com/in/agarwl" target="_blank">
              <i class="fa fa-linkedin fa-10x" style="color:#0e76a8"> </i> agarwl
            </a>
            <a href="https://scholar.google.ca/citations?user=aH8AJu4AAAAJ&hl=en" target="_blank">
              <i class="ai ai-google-scholar ai-10x" style="color:#0e76a8"> </i>
            </a>
          </li>
        </ul>
      </div>
      <div class="force five columns">
        <p class="site-description">
          <a href="mailto:rishabhagarwal@google.com" style="color:#211F1F">rishabhagarwal (at) google (dot) com</a>
        </p>
      </div>
    </div>
  </div>
</footer>

    </main>

  </body>

</html>
